* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #E0B140;
}

html {
    font-size: 10px;
}

@font-face {
    font-family: Massive-Retaliation;
    src: url(/fonts/Massive-Retaliation.otf);
}

@font-face {
    font-family: 'ELEPHNT.ttf';
    src: url(/fonts/ELEPHNT.TTF);
}

.nav-menu {
    z-index: 10;
    width: 100vw;
    padding-right: 1em;
    position: fixed;
    cursor: pointer;
    font-size: 3em;
}

.nav-menu a {
    font-family: Massive-Retaliation;
    color: #fff;
    text-decoration: none;
}

.menu-list :first-child:hover {
    color: #0066ff;
}

.menu-list :nth-child(2):hover {
    color: #008e02;
}

.menu-list :nth-child(3):hover {
    color: #8d4700;
}

.menu-list :nth-child(4):hover {
    color: #ff008c;
}

.menu-list :nth-child(5):hover {
    color: #dcb700;
}

#nav-menu-container{
    height: 50px;
}

#nav-menu{
    display: none;
}