@import url(menu.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #ffbc65ff;
}

body{
    background: #000;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: auto;
    min-height: 100%;
    max-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -1;
    background: transparent url(../video/11.mp4) no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-y: bottom;
    opacity: .9;
}

.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "disclaimer title menu"
                         "footer footer footer";
}

.home-title{
    grid-area: title;
    margin: auto;
    text-align: center;
}
.home-title img{
    width: 80%;
    transition: 1s;
    cursor: pointer;
}
.home-title img:hover{
    width: 90%;
    -webkit-filter: drop-shadow(2px 2px 15px #ccc);
    filter: drop-shadow(2px 2px 15px #ccc);
}

header{
    grid-area: header;
}
footer{
    grid-area: footer;
    rotate: 180deg;
}
    
header, footer{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    opacity: .5;
    font-family: 'Oswald', sans-serif;
}


aside.disclaimer{
    grid-area: disclaimer;
    color: #fff;
    text-transform: uppercase;
    rotate: -90deg;
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: 'Oswald', sans-serif;
}

.menu{
    grid-area: menu;
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin: auto;
}




/* MOBILE PHONE */
@media (max-width: 480px) {


    .contenedor{
        height: 100vh;
        background: #0065a8 url(../img/sp-photoshoots/FHKrzljVUAAc_vl.jpg);
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 30px auto 30px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "header header header"
                             "disclaimer title menu"
                             "footer footer footer";
    }

    .menu{
        grid-area: menu;
        color: #fff;
        font-size: 3em;
        text-align: center;
        margin: auto;
    }
     .home-title{
        grid-area: title;
        color: #fff;
    }
    .home-title img{
        width: 80%;
    }


}



/* tables */
@media (max-width: 768px) {
 .contenedor{
        height: 100vh;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 30px auto 30px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "header header header"
                             "disclaimer title menu"
                             "footer footer footer";
    }

    aside.disclaimer{
        font-size: 1em;
    }
    .menu{
        grid-area: menu;
        color: #fff;
        font-size: 3em;
        text-align: center;
        margin: auto;
    }
     .home-title{
        grid-area: title;
        color: #fff;
        text-align: center;
        margin: auto;
    }
    .home-title img{
        width: 80%;
    }


}
