@import url(fonts.css);
@import url(menu.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/deco/SPproject\ copy.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 4fr 50px;
    grid-template-rows: 20% 66% 10%;
    grid-template-areas: "tracklist_title lyrics menu"
        "tracklist lyrics menu"
        "spotify spotify spotify";
}

.tracklist_title {
    color: #fff;
    background-image: url(../img/logo/spp.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
    grid-area: tracklist_title;
    transition: .5s ease-in-out;
}

.tracklist_title:hover {
    -webkit-filter: drop-shadow(1px 1px 6px #ccc);
    filter: drop-shadow(1px 1px 6px #ccc);
}

.tracklist_list {
    grid-area: tracklist;
    color: #fff;
    font-family: "puffin-display-soft", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    margin: 10px 0 0 20%;
    overflow: scroll;
    text-align: right;
    font-size: 1.3em;

}

.tracklist_list ol li:hover {
    cursor: pointer;
}

.tracklist_list::-webkit-scrollbar {
    width: 10px;
    display: none;
}

.song_selected {
    text-shadow: -2px 2px 10px #ccc, .5px .5px #5a5a5a, -.5px -.5px #686565;
    transition: .3s;
    padding: 0px 20px 0px 0;
    color: rgb(255, 188, 179);
}

.lyrics {
    grid-area: lyrics;
    background-image: url(../img/deco/flowers.png);
    background-repeat: repeat-y;
    background-position: top left;
    overflow: auto;
    padding-left: 5em;
}

.lyrics span {
    letter-spacing: 5px;
    color: white;
    background: #ca411e;
    word-spacing: 1em;
    line-break: looses;
    line-height: 1.8em;
}

.lyrics span::selection {
    text-shadow: -2px 2px 3px #ccc;
    background-color: #FFA800;
}


.lyrics::-webkit-scrollbar {
    width: 10px;
    display: none;
}

.menu {
    grid-area: menu;
    width: 30px;
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: end;
    color: #fff;
    font-size: 3em;
    z-index: 10;
}

#song_lyric {
    color: #fff;
    text-transform: uppercase;
    font-family: "puffin-display-soft", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#spotify {
    grid-area: spotify;
    text-align: center;
    margin-top: 5px;
}

/* MOBILE PHONE */
@media (max-width: 480px) {

    #contenedor {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 4fr 50px;
        grid-template-rows: 20% 66% 10%;
        grid-template-areas: "tracklist_title tracklist_title tracklist_title"
            "tracklist lyrics menu"
            "spotify spotify spotify";
    }

    .tracklist_title {
        color: #fff;
        background-image: url(../img/logo/spp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        grid-area: tracklist_title;
        transition: .5s ease-in-out;
    }

    .tracklist_list {
        grid-area: tracklist;
        color: #fff;
        font-family: "puffin-display-soft", sans-serif;
        font-weight: 100;
        font-style: normal;
        text-transform: uppercase;
        overflow: scroll;
        text-align: right;
        font-size: .7em;
    }

    .song_selected {
        text-shadow: -2px 2px 10px #ccc, .5px .5px #5a5a5a, -.5px -.5px #686565;
        transition: .3s;
        color: rgb(255, 255, 255);
    }

    #song_lyric {
        color: #fff;
        text-transform: uppercase;
        font-family: "puffin-display-soft", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .lyrics span {
        font-size: .7em;
        letter-spacing: 0;
        color: white;
        word-spacing: 0;
        line-break: looses;
        line-height: 1em;
        
    }
    
    .lyrics {
        grid-area: lyrics;
        background-image: url(../img/deco/flowers.png);
        background-repeat: repeat-y;
        background-position: top left;
        text-align: left;
        margin-left: -2em;
    }

}

@media (max-width: 768px) {
    

    #contenedor {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 4fr 50px;
        grid-template-rows: 20% 66% 10%;
        grid-template-areas: "tracklist_title tracklist_title tracklist_title"
            "tracklist lyrics menu"
            "spotify spotify spotify";
    }

    .tracklist_title {
        color: #fff;
        background-image: url(../img/logo/spp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        grid-area: tracklist_title;
        transition: .5s ease-in-out;
    }

    .tracklist_list {
        padding-top: 1em;
        grid-area: tracklist;
        color: #fff;
        font-family: "puffin-display-soft", sans-serif;
        font-weight: 100;
        font-style: normal;
        text-transform: uppercase;
        overflow: scroll;
        text-align: right;
        font-size: 1em;
    }

    .song_selected {
        text-shadow: -2px 2px 10px #ccc, .5px .5px #5a5a5a, -.5px -.5px #686565;
        transition: .3s;
        color: rgb(255, 255, 255);
    }

    #song_lyric {
        color: #fff;
        text-transform: uppercase;
        font-family: "puffin-display-soft", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .lyrics span {
        font-size: .7em;
        letter-spacing: 0;
        color: white;
        word-spacing: 0;
        line-break: looses;
        line-height: 1em;
    }
    
    .lyrics {
        grid-area: lyrics;
        background-image: url(../img/deco/flowers.png);
        background-repeat: repeat-y;
        background-position: top left;
        overflow: auto;
        padding-left: 5em;
        padding-top: 0;
    }

}

@media (max-width: 1024px) {
    

    #contenedor {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 4fr 50px;
        grid-template-rows: 20% 66% 10%;
        grid-template-areas: "tracklist_title tracklist_title tracklist_title"
            "tracklist lyrics menu"
            "spotify spotify spotify";
    }

    .tracklist_title {
        color: #fff;
        background-image: url(../img/logo/spp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        grid-area: tracklist_title;
        transition: .5s ease-in-out;
    }

    .tracklist_list {
        padding-top: 1em;
        grid-area: tracklist;
        color: #fff;
        font-family: "puffin-display-soft", sans-serif;
        font-weight: 100;
        font-style: normal;
        text-transform: uppercase;
        overflow: scroll;
        text-align: right;
        font-size: 1.5em;
    }

    .song_selected {
        text-shadow: -2px 2px 10px #ccc, .5px .5px #5a5a5a, -.5px -.5px #686565;
        transition: .3s;
        color: rgb(255, 255, 255);
    }

    #song_lyric {
        color: #fff;
        text-transform: uppercase;
        font-family: "puffin-display-soft", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .lyrics span {
        font-size: 1.5em;
        letter-spacing: 0;
        color: white;
        word-spacing: 0;
        line-break: looses;
        line-height: 1em;
    }
    
    .lyrics {
        grid-area: lyrics;
        background-image: url(../img/deco/flowers.png);
        background-repeat: repeat-y;
        background-position: top left;
        overflow: auto;
        padding-left: 5em;
        padding-top: 0;
    }

}