@import url(fonts.css);

body{
    background-color: #AB6036;
    background-image: url(../img/sp-photoshoots/6125707d493203001845bc98.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode:soft-light;
    backdrop-filter: blur(1%);
}

#contenedor{
    text-align: center;
}

.lorde_letter{
    font-family: 'Playfair Display', serif;
    color: #333;
    text-align: justify;
    max-width: 800px;
    background-color: #cccccc55;
    padding: 1em 2em;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.lorde_letter span{
    display: block;
    text-align: right;
}