* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #E0B140;
}

@font-face {
    font-family: 'ELEPHNT.ttf';
    src: url(/fonts/ELEPHNT.TTF);
}

html {
    font-size: 10px;
}

.tour-container {
    height: 100vh;
    width: auto;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.tour-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.tour-container::-webkit-scrollbar:vertical {
    width: 0px;
}

.snap-section {
    scroll-snap-align: center;
    min-height: 100vh;
    transition: margin-right 10s;
}


/* SECTION 1*/
.section-01 {
    background-image: url(/img/tour/tour01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-01 img {
    max-width: 60em;
    justify-self: center;
    align-self: center;
}

/* END SECTION 1*/

/* START SECTION 2*/
.section-02 {
    background-image: url(/img/tour/tour02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-02 {
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 6em;
}

.section-02 div :first-child {
    padding-left: 1em;
}

.section-02 div :nth-child(2) {
    padding-left: 2em;
}

.section-02 div :nth-child(3) {
    padding-left: 3em;
}

.section-02 div :nth-child(4) {
    padding-left: 4em;
}

.section-02 div :nth-child(5) {
    padding-left: 5em;
}

.section-02 div :last-child {
    font-size: 9rem;
    padding-left: 7em;
}

/* END SECTION 2*/

/* SECTION 3*/
.section-03 {
    background-image: url(/img/tour/tour04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.section-03 div .h1 {
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 6em;
    text-align: center;
}

.tour-dates{
    color: #fff;
    font-size: 1em;
}

/* END SECTION 3 */

/* SECTION 4 */
.section-04 {
    background-image: url(/img/tour/tour08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-04 div{
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 15vw;
    text-align: right;
}
/* END SECTION 4 */


/* SECTION 5 */
.section-05 {
    background-image: url(/img/tour/tour06.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-05 div{
    padding-top: 50vh;
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 20vw;
    text-align: center;
}
/* END SECTION 5 */

/* SECTION 6 */
.section-06 {
    background-image: url(/img/tour/tour07.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E0B140;
}
.section-06 div{
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 10vw;
}
/* END SECTION 6 */

/* SECTION 7 */
.section-07 {
    background-image: url(/img/tour/tour03.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E0B140;
}
.section-07 div{
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 10vw;
    padding-top: 60vh;
    padding-left: 50vw;
}
/* END SECTION 7 */

/* SECTION 8 */
.section-08 {
    background-image: url(/img/tour/tour05.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E0B140;
}
.section-08 div{
    color: #fff;
    font-family: 'ELEPHNT.ttf';
    font-size: 10vw;
}
/* END SECTION 8 */